body {
    font-family: 'Roboto', sans-serif;
}

.custom-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.add-btn:hover {
    background-color: rgb(234 179 8);
    color: white;
}

